body{
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
height: 100vh;
font-family: 'Overpass', sans-serif;
font-size: 16px;
font-weight: 400;
background:hsl(216, 12%, 8%);
color: hsl(0, 0%, 100%);
}

h1{
  font-size: 24px;
  font-weight:400;
}

p{
  font-size: 14px;
  line-height: 24px;
  color: hsl(216, 12%, 54%);;

}

button{
  width:100%;
  text-align: center;
  background:hsl(25, 97%, 53%);
  color:#fff;
  padding:13px;
  border-radius: 50px;
  border:none;
  margin:0 auto;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

button:hover{
  color:hsl(25, 97%, 53%);
  background:#fff;
}

#ContentContainer{
  width:350px;
  height: 350px;
  background: #171E28;
  padding:20px;
  border-radius: 15px;
}

/* Number Selection Section */

#StarIcon img{
  background:#262F38;
  border-radius: 50px;
  padding:14px;
}

#SubmitContent ul{
  padding: 30px 0px;
  margin-left: 0px;

}

#SubmitContent ul li{
  display:inline;
  list-style: none;
  padding:12px 18px;
  margin:10px;
  background:#262F38;
  border-radius: 50px;
  cursor: pointer;
}

/* Thank You Section */

#ThankYouContent{
  display:none;
  text-align: center;
  margin:20px;
}

#YouSelected{
  background:#262F38;
  color:hsl(25, 97%, 53%);
  border-radius: 50px;
  margin:20px auto;
  width:60%;
}

#Rating li{
  background: transparent!important;
  list-style: none;
  display: inline;
}

/* mobile styles */

@media only screen and (max-width: 480px) {
  #ContentContainer{
    width:320px;
    height: 360px;
    background: #171E28;
    padding:20px;
    border-radius: 15px;
  }


  #SubmitContent ul li{
    padding:10px 15px;
    margin:10px;
  }


}
